[Desktop Entry]
Type=Application
Name=DotWeaver
GenericName=Dotfile Manager
Comment=A dotfile management application powered by chezmoi
Icon=dotweaver
Exec=dotweaver
Categories=Qt;Utility;Settings;System;
Keywords=dotfiles;chezmoi;configuration;settings;config;dotweaver;
StartupNotify=true
X-DBUS-StartupType=Unique
